<h1>Post#notify_new_post</h1>

<p>
  <%= @greeting %>, find me in app/views/post_mailer/notify_new_post.html.erb
</p>

<div>
  this is name
  <%= post.poster.name %>
</div>

<div> 
  this is body 
  <%= post.body %>
</div>
