<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag @user.image_url_or_default %>
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag @user.image_url_or_default %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @user.name %></p>
        <p class="subtitle is-6"><%= @user.email %></p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a>#css</a> <a>#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small>
    </div>
  </div>  
     
</div>