<div class="card-image">
  <div class="image is-2by1 cover">
  <% if @user == current_user %>
    <% if @user.cover? %>
      <%= image_tag @user.cover.url %>
    <% else %>
      <h1>Update your cover photo, click -> Setting</h1>
    <% end %>
  <% else %>
    <% if @user.cover? %>
      <%= image_tag @user.cover.url %>
    <% else %>
      <h1>I still not have cover photo.</h1>
    <% end %>
  <% end %>
  </div>
</div>