<ul>
  <li >
    <div class="image is-128x128 is-left">
      <img src="<%= current_user.image_url_or_default %>">
    </div>
  </li>
  <li class="is-active"><a>Pictures</a></li>
  <li><a>Music</a></li>
  <li><a>Videos</a></li>
  <li><a>Documents</a></li>
</ul>