<div class="container">
  <div class="columns"> 
    <div class="column is-9" style="background-color: red">
      <div class="cover-photo">
        <%= render "profile_path/cover_photo" %>
      </div>
      <div class="tabs" style="padding: -50px">
        <%= render "profile_path/tabs_under_cover" %>
      </div>
      <div class="columns">
        <div class="column is-12" style="background-color: orange">
          <div class="columns">
            <%= render "profile_path/profile_left_content" %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3" style="background-color: pink">
      <%= render "profile_path/column_left_1" %>
    </div>
  </div>
  </div>
</div>

