  <div class="columns">
  <div class="column is-one-quarter">
    <h1>First column</h1>
  </div>
  <div class="column all-posts">
    <%= render "form_post" %>
    <div class="js-posts">
      <%= render @posts %>
    </div>
    <div class="pagination" data-pagination-endpoint="<%= paging_posts_path %>" 
      data-pagination-pages="<%= @posts.total_pages %>">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin: auto"></i>
      Loading...
    </div>
  </div>

  <div class="column is-one-quarter">
    <h1>Third column</h1>
  </div>
</div>