<div class="container">
  <div class="coverphoto" style="width: 100%; height: 200px; border: 1px dashed orange">
  </div>
  <div class="columns" style="border: 1px solid red; margin-top: -150px">
    <div class="column is-3" style="border: 1px solid pink; height: 500px">column 1</div>
    <div class="column is-5" style="border: 1px solid green; height: 500px">column2</div>
    <div class="column is-4" style="border: 1px solid blue; height: 500px">column2</div>
  </div>
<div>