/* Coolors Exported Palette - coolors.co/7bdff2-b2f7ef-fcb5b5-eff7f6-000000 */

/* HSL */
$color1: hsla(190%, 82%, 72%, 1);
$color2: hsla(173%, 81%, 83%, 1);
$color3: hsla(0%, 92%, 85%, 1);
$color4: hsla(173%, 33%, 95%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(123, 223, 242, 1);
$color2: rgba(178, 247, 239, 1);
$color3: rgba(252, 181, 181, 1);
$color4: rgba(239, 247, 246, 1);
$color5: rgba(0, 0, 0, 1);