/* Coolors Exported Palette - coolors.co/fec0aa-ff6978-ed254e-c41e3d-e86f6f */

/* HSL */
$color1: hsla(16%, 98%, 83%, 1);
$color2: hsla(354%, 100%, 71%, 1);
$color3: hsla(348%, 85%, 54%, 1);
$color4: hsla(349%, 73%, 44%, 1);
$color5: hsla(0%, 72%, 67%, 1);

/* RGB */
$color1: rgba(254, 192, 170, 1);
$color2: rgba(255, 105, 120, 1);
$color3: rgba(237, 37, 78, 1);
$color4: rgba(196, 30, 61, 1);
$color5: rgba(232, 111, 111, 1);